{% extends 'layouts/base.html' %}

{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="main-body">
	<div class="row ">
		<div class="col">
			<div class="custom-title">
				<h2>Serviços</h2>
				<span class="section-separator"></span>
			</div>
		</div>
	</div>
	{% if existe %} <!--exibe filters somente se existir serviços -->
		<div class="row">
			<aside class="col-md-3">
				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Buscar serviços</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">
								<form class="pb-3" method="GET">
									<div class="input-group">
										<input type="text" class="form-control" name="nome" id="name" placeholder="Buscar..">
										<div class="input-group-append">
											<button class="btn" type="submit"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</form>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<form action="" method="GET">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categorias</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_2" style="">
							<div class="card-body">
								{% for categoria in categorias %}
									<div class="form-check">
										<input class="form-check-input" type="radio" value="{{categoria.id}}" name="category" id="{{categoria.id}}" name='category'>
										<label class="form-check-label" for="{{categoria.id}}">
											{{categoria.nome}}
										</label>
									</div>
								{% endfor %}
							</div> <!-- card-body.// -->

						</div>
					</article> <!-- filter-group .// -->

					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Localidade</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">
								<div class="mb-2">
									<select id="estado" name="estado" class="form-control">
										<option value="">Escolha o estado</option>
										<option value="AC">Acre</option>
										<option value="AL">Alagoas</option>
										<option value="AP">Amapá</option>
										<option value="AM">Amazonas</option>
										<option value="BA">Bahia</option>
										<option value="CE">Ceará</option>
										<option value="DF">Distrito Federal</option>
										<option value="ES">Espírito Santo</option>
										<option value="GO">Goiás</option>
										<option value="MA">Maranhão</option>
										<option value="MT">Mato Grosso</option>
										<option value="MS">Mato Grosso do Sul</option>
										<option value="MG">Minas Gerais</option>
										<option value="PA">Pará</option>
										<option value="PB">Paraíba</option>
										<option value="PR">Paraná</option>
										<option value="PE">Pernambuco</option>
										<option value="PI">Piauí</option>
										<option value="RJ">Rio de Janeiro</option>
										<option value="RN">Rio Grande do Norte</option>
										<option value="RS">Rio Grande do Sul</option>
										<option value="RO">Rondônia</option>
										<option value="RR">Roraima</option>
										<option value="SC">Santa Catarina</option>
										<option value="SP">São Paulo</option>
										<option value="SE">Sergipe</option>
										<option value="TO">Tocantins</option>
									</select>
								</div>
								<select id="cidade" name="cidade" class="form-control">
									<option value="{{ request.GET.cidade }}">Cidade, escolha o estado</option>
								</select>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<div class="p-3">
						<input type="submit" value="Aplicar filtros" class="btn btn-block btn-default" />
					</form>
				</div> <!-- card.// -->
			</aside> <!-- fim conteudo lateral -->
			<main class="col-md-9">
				{% if servicos %}
					<header class="border-bottom mb-4 pb-3">
						<div class="form-inline">
							<span class="mr-md-auto">{{servicos|length}} Itens encontrados</span>
							<select class="mr-2 form-control">
								<option value="ord-01">Mais populares</option>
								<option value="ord-02">Mais recentes</option>
							</select>
						</div>
					</header><!-- sect-heading -->
				{% endif %}
				{% for servico in servicos %}
					<div class="row">
						<div class="col-md-4">
							<figure class="card card-product-grid">
								<div class="img-wrap"> 
									<span class="badge badge-danger"> Novo </span>
									{% if servico.capa %}
										<img class="img-fluid" src="{{servico.capa.url}}" alt="{{servico.nome}}">
										<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i>Olhada rápida </a>
									{% else %}
										<img class="img-fluid"src="{% static 'images/layouts/image_not.png' %}" alt="image_not">
									{% endif %}
								</div> <!-- img-wrap.// -->
								<figcaption class="info-wrap">
									<div class="fix-height mb-2">
										<h4 class="card-title">{{servico.nome}}</h4>
										<p class="card-text">Categoria: {{servico.categoria}}</p>
										<p class="card-text">Estado: {{servico.endereco.estado}}</p>
										<p class="card-text">Ciadade: {{servico.endereco.cidade}}</p>
									</div>
									<a href="{% url 'servico-view' servico.id %}" class="btn btn-block btn-default">Saiba mais</a>
							</figcaption>
						</figure>
					</div> <!-- col. card serviços// -->
				{% empty %}
					<div class="col">
						<h3>Nenhum serviço encontrado ):</h3>
						<p>Para listar todos clique <a href="{% url 'home' %}">aqui</a></p>
					</div>
				{% endfor %}
			</main>
		</div>
	{% else %}	<!--Nao existem serviçoes -->
		<div class="col">
			<h3>Não há serviços</h3>
		</div>
	{% endif %} 

	{% if servicos %}
		<div class="row justify-content-center">
			<div class="pagination">
				<span class="step-links">
					{% if servicos.has_previous %}
						<a href="?page={{ sevicos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
					{% endif %}
					
					{% if servicos.paginator.num_pages %}
					<span class="current">
						{{ servicos.number }} de {{ servicos.paginator.num_pages }}
					</span>
					{% endif %}

					{% if servicos.has_next %}
						<a href="?page={{ servicos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
					{% endif %}
				</span>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}