{% extends 'layouts/base.html' %}

{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="main-body">
	<div class="row ">
		<div class="col">
			<div class="custom-title">
				<h2>Serviços</h2>
				<span class="section-separator"></span>
			</div>
		</div>
	</div>
	{% if existe %} <!--exibe filters somente se existir serviços -->
		<div class="row">
			<aside class="col-md-3">
				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Buscar serviços</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">
								<form class="pb-3" method="GET">
									<div class="input-group">
										<input type="text" class="form-control" name="nome" id="name" placeholder="Buscar..">
										<div class="input-group-append">
											<button class="btn" type="submit"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</form>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categorias</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_2" style="">
							<form action="" method="get">
							<div class="card-body">
								<label class="custom-control custom-checkbox">
									<input type="checkbox" checked="" class="custom-control-input" id="todos" >
									<div class="custom-control-label"> Todas
										<b class="badge badge-pill badge-light float-right">120</b> 
									</div>
								</label>
								{% for categoria in categorias %}
									<label class="custom-control custom-checkbox">
										<input type="checkbox" value="{{categoria.id}}" checked="" name='category' class="custom-control-input" id="{{categoria.id}}">
										<div class="custom-control-label"> {{categoria.nome}}
											<b class="badge badge-pill badge-light float-right">15</b> 
										</div>
									</label>
								{% endfor %}
								<input type="submit" value="Enviar" class="btn btn-default"/>

							</div> <!-- card-body.// -->

							</form>
						</div>
					</article> <!-- filter-group .// -->
				</div> <!-- card.// -->
			</aside> <!-- fim conteudo lateral -->
			<main class="col-md-9">
				{% if servicos %}
					<header class="border-bottom mb-4 pb-3">
						<div class="form-inline">
							<span class="mr-md-auto">{{servicos|length}} Itens encontrados</span>
							<select class="mr-2 form-control">
								<option value="ord-01">Mais populares</option>
								<option value="ord-02">Mais recentes</option>
							</select>
						</div>
					</header><!-- sect-heading -->
				{% endif %}
				{% for servico in servicos %}
					<div class="row">
						<div class="col-md-4">
							<figure class="card card-product-grid">
								<div class="img-wrap"> 
									<span class="badge badge-danger"> Novo </span>
									{% if servico.capa %}
										<img class="img-fluid" src="{{servico.capa.url}}" alt="{{servico.nome}}">
										<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i>Olhada rápida </a>
									{% else %}
										<img class="img-fluid"src="{% static 'images/layouts/image_not.png' %}" alt="image_not">
									{% endif %}
								</div> <!-- img-wrap.// -->
								<figcaption class="info-wrap">
									<div class="fix-height mb-2">
										<h4 class="card-title">{{servico.nome}}</h4>
										<p class="card-text">Categoria: {{servico.categoria}}</p>
										<p class="card-text">Estado: {{servico.endereco.estado}}</p>
										<p class="card-text">Ciadade: {{servico.endereco.cidade}}</p>
									</div>
									<a href="{% url 'servico-view' servico.id %}" class="btn btn-block btn-default">Saiba mais</a>
							</figcaption>
						</figure>
					</div> <!-- col. card serviços// -->
				{% empty %}
					<div class="col">
						<h3>Nenhum serviço encontrado ):</h3>
						<p>Para listar todos clique <a href="{% url 'home' %}">aqui</a></p>
					</div>
				{% endfor %}
			</main>
		</div>
	{% else %}	<!--Nao existem serviçoes -->
		<div class="col">
			<h3>Não há serviços</h3>
		</div>
	{% endif %} 

	{% if servicos %}
		<div class="row justify-content-center">
			<div class="pagination">
				<span class="step-links">
					{% if servicos.has_previous %}
						<a href="?page={{ sevicos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
					{% endif %}
					
					{% if servicos.paginator.num_pages %}
					<span class="current">
						{{ servicos.number }} de {{ servicos.paginator.num_pages }}
					</span>
					{% endif %}

					{% if servicos.has_next %}
						<a href="?page={{ servicos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
					{% endif %}
				</span>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}